# Tour de python

### Ayuda en python

In [1]:
str?

In [3]:
str.capitalize('HOLa')

'Hola'

### Variables

In [4]:
x=1

In [5]:
x

1

In [6]:
print (x)

1

In [7]:
a,b=3,4
print ('EL valor de a es ',a)
print ('El valor de b es ',b)

EL valor de a es  3
El valor de b es  4

#### Enteros
#### Flotantes
#### Booleanos
#### Complejos
#### Texto

In [11]:
c='Esto es una cadena de texto ¡? UF-8'
c

'Esto es una cadena de texto ¡? UF-8'

In [12]:
print (c)

Esto es una cadena de texto ¡? UF-8

In [29]:
a='Anita lava la tina'
print (a.capitalize())
print (a.upper())
print(a.lower())
print(a.replace(" ",""))

Anita lava la tina
ANITA LAVA LA TINA
anita lava la tina
Anitalavalatina

### Operaciones

In [30]:
x=3
y=2

In [43]:
x+y

(7+3j)

In [44]:
x-y

(-1-3j)

In [45]:
x/y

(0.48-0.36j)

In [46]:
x%y

TypeError: can't mod complex numbers.

In [41]:
x**y

100.90420610885693

¿Que pasa si cambias y?

In [36]:
y=4.2

In [42]:
y=4+3j

más de texto

In [47]:
a=3
b='hola'

In [48]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
str(a)+b

'3hola'

In [50]:
b+b

'holahola'

In [51]:
a*b

'holaholahola'

MOdificadores

In [54]:
x=0
x+=1
print (x)

1

In [56]:
x*=3
print(x)

3

In [57]:
x-=2
print(x)

1

In [58]:
x>3

False

In [59]:
x>3

False

In [60]:
x<3

True

In [61]:
x!=1

False

### Ejercicio

Usando los widgets es par o impar

In [64]:
x=int(input('Ingresa un entero: '))
if x%2==1:
    print ('Es impar')
else:
    print('Es par')

Ingresa un entero: 2
Es par

Bucles

In [65]:
for i in range(5):
    print (i)

0
1
2
3
4

In [68]:
for i in "holaprofe":
    print (i)

h
o
l
a
p
r
o
f
e

In [1]:
i=1
while i<5:
    print('while'+str(i))
    i+=1

while1
while2
while3
while4

In [2]:
for i in range (34):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

### Ejercicio 

calcula la suma del 0 al 1000 de 1/i al caudrado

In [4]:
suma=0
for i in range(1,1001):
    suma+=1/(i**2)
    
print (suma)

1.6439345666815615

In [6]:
a=[1,2,5,4,6]
a

[1, 2, 5, 4, 6]

In [7]:
a[2]

5

In [8]:
a[-1]

6

In [9]:
a[1:3]

[2, 5]

In [10]:
a[1:]

[2, 5, 4, 6]

In [11]:
n=10

In [12]:
a.append(n)

In [13]:
a

[1, 2, 5, 4, 6, 10]

In [14]:
a.pop()
a

[1, 2, 5, 4, 6]

In [15]:
a.remove(2)
a

[1, 5, 4, 6]

In [17]:
for element in a:
    print (element)

1
5
4
6

In [18]:
b=[i**2 for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
b=[2**i for i in range(10)]
b

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [22]:
palab = 'Anita lava la tina'.split()
print(palab)
transformacion = [[w.upper(), w.lower(), len(w)] for w in palabras]
print("=====================")
for t in transformacion:
    print(t)

['Anita', 'lava', 'la', 'tina']
=====================
['ANITA', 'anita', 5]
['LAVA', 'lava', 4]
['LA', 'la', 2]
['TINA', 'tina', 4]

Diccionario

In [24]:
dic={'a':1,'b':2,'c':3,'d':4}

In [25]:
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [26]:
dic['a']

1

In [29]:
dic.keys()

dict_keys(['a', 'b', 'c', 'd'])