# Tour de Python

In [1]:
str? #te dice de que es el método

In [2]:
str. #te dice lo submétodos del método

SyntaxError: invalid syntax (<ipython-input-2-e524372fb08e>, line 1)

In [3]:
x = 1

In [4]:
x

1

In [5]:
print (x)

1

In [6]:
a, b = 3, 4  #Asigna variables dobles
print ("El valor de a es ", a)
print ("El valor de b es ", b)

El valor de a es  3
El valor de b es  4

In [7]:
x = 3
x

3

In [8]:
y = 3.5
y

3.5

In [9]:
z = 3 + 5j
z

(3+5j)

In [10]:
a = True
a

True

In [11]:
x = 1.2e34
x

1.2e+34

In [12]:
x = 1e-12 + 3.56e4j  #Notación científica compleja (necesito usar j)
x

(1e-12+35600j)

In [13]:
cadena = u"Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!"
cadena #u es unicode

'Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!'

In [25]:
nombre = "Anita lava la tina"
nombre

'Anita lava la tina'

In [26]:
#capitalizar
nombre_capitalize = nombre.capitalize()
nombre_capitalize

'Anita lava la tina'

In [20]:
#minúsculas 
nombre_lower = nombre.lower()
nombre_lower

'anita lava la tina'

In [27]:
#mayúsculas 
nombre_upper = nombre.upper()
nombre_upper

'ANITA LAVA LA TINA'

In [30]:
#quitar espacios entre palabras
nombre_replace = nombre.replace(" ","")
nombre_replace

'Anitalavalatina'

In [32]:
x = int(2) #número entero
y = float(3) #número con decimales
z = complex(1+2j) #número complejo
a = str("Hola") #texto
print (x,y,z,a)

2 3.0 (1+2j) Hola

In [33]:
x**y #potencia

8.0

In [34]:
y%x #módulo

1.0

In [35]:
#y= 4.1, y = 4 + 3j cambiará todos los valores que incluyan a y 
#a otro valor porque podemos renombran variables

In [37]:
a = 3
b = "hola"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
str(a)+b #se necesita cambiar el numero a string para poder 
#hacer operaciones con otro strig

'3hola'

In [40]:
b+b

'holahola'

In [41]:
a*b

'holaholahola'

In [42]:
a, b, c = 1.0, 2.0, 3.0
print (a)
print (b)
print (c)

1.0
2.0
3.0

In [43]:
a + b/c

1.6666666666666665

In [44]:
(a+b)/c

1.0

In [46]:
x= 0
x += 1
x

1

In [47]:
x -=2
x

-1

In [48]:
x *= 3.14
print (x)

-3.14

In [50]:
x /= 5*a
x

-0.1256

In [51]:
if x > 3:
    print("Esto no se debería de imprimir")
    print("Nota que es muy peligroso hacer esto con flotantes...")

In [52]:
x = 5

In [53]:
if x > 3:
    print("Esto SI se debería de imprimir")

Esto SI se debería de imprimir

In [56]:
x==1

False

In [57]:
x>1

True

In [58]:
x<1

False

In [59]:
x>=1

True

In [60]:
x!=1

True

In [61]:
x>10 or x <=5

True

In [63]:
x>10 and x <=5
x

5

In [87]:
if x >= 5 and x < 10:
    print(u"¡Hola!")
else:
    print(u"Nunca me verás")

¡Hola!

Usando los widgets que proporciona el notebook, programa una interfaz que indique (imprimiendo) si el número que se introduce es par o impar.

In [65]:
from ipywidgets import interact, fixed, widgets

In [98]:
def num(Num):
    if int(Num)%2 ==0:
        print("El número es par")
    else:
        print("El número es impar")

In [100]:
interact(num, Num=input("Escribe un número "));

Escribe un número i

interactive(children=(Text(value='i', description='Num'), Output()), _dom_classes=('widget-interact',))

In [88]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [93]:
for x in u"Hola Como estás?":  
    print(x) #Escribe el string letra por letra en horizontal

H
o
l
a

C
o
m
o

e
s
t
á
s
?

In [97]:
for x in [u"Hola Como estás?"]: 
    print(x) #Escribe el string letra por letra en vertical

Hola Como estás?

In [90]:
i = 1
while i > 0 and i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [102]:
for i in range(34): # rango: te da (iterador) números de intervalo 
    print (i)       #va de 0 a 33

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [103]:
for i in range(1,34):  #intervalo de 1 a 33
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [125]:
for i in range(1,34,3):  #intervalo de 1 a 34 cada 3 números
    print (i)

1
4
7
10
13
16
19
22
25
28
31

In [128]:
print("Calcula el valor de la suma: ")

Calcula el valor de la suma:

In [127]:
%%latex
$\sum^{1000}_{k=0} \left(\frac{1}{k}\right)^2$.

In [114]:
a=0
for i in range(1,1001):
    a+=(float(1)/float(i)**2)
print(a)

1.6439345666815615

In [163]:
a_list = [1, 2, 3, 4, 5]
a_list

[1, 2, 3, 4, 5]

In [131]:
another_list = [1, 1.3, 4.5, 2+1j, [1,2]] 
another_list    #diferentes tipos de números en una sola lista

[1, 1.3, 4.5, (2+1j), [1, 2]]

In [132]:
a_list[3] #lugar 4

4

In [133]:
another_list[3] #lugar 4

(2+1j)

In [134]:
another_list[4] #lugar 5

[1, 2]

In [140]:
a_list[-1] #último lugar

5

Podemos seccionar con los 2 puntos ( : )

In [136]:
a_list[1:] #del 2do lugar hasta el final

[2, 3, 4, 5]

In [137]:
a_list[2:4] #del 3er lugar hasta el 4

[3, 4]

In [138]:
a_list[:4] #los primeros 4 lugares

[1, 2, 3, 4]

In [157]:
n= 5

In [164]:
a_list.append(n) #agrega al final de la lista
a_list

[1, 2, 3, 4, 5, 5]

In [159]:
a_list.pop() #elimina el último valor de la lista
a_list        #no es necesario volver a asignar una lista

[1, 2, 3, 4, 5]

In [165]:
a_list.append(3)
a_list[1] = 3
a_list.append(5)
a_list

[1, 3, 3, 4, 5, 5, 3, 5]

In [151]:
a_list.remove?

In [168]:
a_list.remove(3) #borra el primer 3 que aparece
a_list

[1, 3, 4, 5, 3, 5]

In [161]:
empty_list = []
empty_list

[]

In [169]:
for element in a_list:
    print(element)

1
3
4
5
3
5

In [170]:
for r in range(5):
    print(r)

0
1
2
3
4

In [171]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x%2 == 0]
print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

In [172]:
palabras = 'Anita lava la tina'.split() #divide por palabras
print(palabras)
#lo vuelve una lista de palabras
transformacion = [[w.upper(), w.lower(), len(w)] for w in palabras]
print("=====================")
for t in transformacion:
    print(t)

['Anita', 'lava', 'la', 'tina']
=====================
['ANITA', 'anita', 5]
['LAVA', 'lava', 4]
['LA', 'la', 2]
['TINA', 'tina', 4]

In [177]:
transformacion #lista de listas

[['ANITA', 'anita', 5],
 ['LAVA', 'lava', 4],
 ['LA', 'la', 2],
 ['TINA', 'tina', 4]]

In [178]:
n = 25 #tupla= (x,y,z)
[(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [174]:
diccionario = {'a':1, 'b':2, 'coral': 'amarillo'}
diccionario
#normalmente del lado izquierdo es texto
#lista con nombres no ordenado
#se tiene que acceder por nombre => debes de acordarte cómo se llamaban
# .keys te dice el lado izquierdo
# .values te dice el lado derecho

{'a': 1, 'b': 2, 'coral': 'amarillo'}

In [175]:
diccionario['a']

1

In [176]:
diccionario['coral']

'amarillo'

In [179]:
from math import sqrt, atan
def polar(x,y):
    """
    x, y son un par ordenado
    """
    r = sqrt(x**2 + y**2)
    theta = atan(y/x)
    return r, theta

In [180]:
polar? #te enseña qué hace el código """decorador"""

In [181]:
polar??  #te enseña todo el código de la función

In [182]:
r, theta = polar(3,4)
print("La coordenada r es: " , r)
print("El ángulo theta es: ", theta)

La coordenada r es:  5.0
El ángulo theta es:  0.9272952180016122