# Tour de Python

## Instrucciones

- En **tu carpeta** (la que está dentro de `alumnos`) crea un archivo llamado `1-python_tour`. 
- En la primera celda pon el formato `Heading 1` y teclea `Tour de Python`. 
- Luego teclea (**no copies y pegues**) el código mostrado aquí y ve ejecutándolo.

## Ayuda en ipython

In [1]:
str?

Presiona `Tab` en la siguiente celda

In [ ]:
str.

## Variables

**Asignación** le decimos a la computadora que la variable `x` tiene *asignado* el valor `1`.

In [ ]:
x = 1

In [ ]:
x

In [ ]:
print (x)

Asignación doble

In [ ]:
a, b = 3, 4
print ("El valor de a es ", a)
print ("El valor de b es ", b)

Los **tipos** de variables "básicos" son los siguientes:

**Enteros**

In [ ]:
x = 3
x

**Flotantes**

In [ ]:
y = 3.5
y

**Números Complejos**  de la forma $a + b\iota$

In [ ]:
z = 3 + 5j
z

**Booleanos**

In [ ]:
a = True
a

Python también soporta **notación científica**

In [ ]:
x = 1.2e34
x

In [ ]:
x = 1e-12 + 3.56e4j
x

<div class="alert alert-error">
Nota como cambiamos tres veces el tipo y el valor de la variable `x`, el hecho de *que se pueda* hacer no implica ** que debas de hacerlo **, se considera como una pésima práctica de programación...
</div>

**Cadenas de texto**

In [2]:
cadena = u"Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!"
cadena

'Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!'

In [3]:
print(cadena)

Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!

**Ejercicio**
Usa la ayuda en línea de ipython e investiga como:
- Capitalizarla.
- Convertirla a minúsculas.
- Convertir a mayúsculas.
- Eliminar los espacios.
de la cadena "Anita lava la tina". Aplica las cuatro operaciones una tras otra.

Es posible ser explícito en la asignación del tipo de la variable

In [30]:
ejercicio = "anita lava la tina"

In [21]:
str.capitalize(ejercicio)

'Anita lava la tina'

In [31]:
ejercicio.lower()

'anita lava la tina'

In [23]:
str.upper(ejercicio)

'ANITA LAVA LA TINA'

In [28]:
str.replace(ejercicio," ","")

'anitalavalatina'

In [32]:
x = int(2)
y = float(3)
z = complex(1+2j)
a = str("Hola")

In [33]:
print(x, y, z, a)

2 3.0 (1+2j) Hola

## Operaciones

**Ejercicio:** 

¿Puedes identificar las operaciones?

In [34]:
x = 3
y = 2

In [43]:
x+y

(7+3j)

In [44]:
x-y

(-1-3j)

In [45]:
x*y

(12+9j)

In [46]:
x**y

(-80.03836209851747-12.44429960209101j)

In [47]:
x/y

(0.48-0.36j)

In [48]:
y%x

TypeError: can't mod complex numbers.

**Ejercicio:**

Repite las operaciones pero ahora usa el siguiente valor (y tipo) de `y`.

¿Qué sucede? ¿Cuál es el tipo del valor de salida?

In [41]:
y = 4.1

**Ejercicio:**

Repite las operaciones pero ahora usa el valor (y tipo) de `y`.

¿Qué sucede? ¿Cuál es el tipo de valor de salida?

In [42]:
y = 4 + 3j

**Ejercicio:**

¿Qué pasa en lo siguiente?

In [49]:
a = 3
b = "hola"

In [50]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
str(a) + b

'3hola'

In [52]:
b + b

'holahola'

In [53]:
 a * b

'holaholahola'

**Ejercicio:**

¿Qué puedes deducir de lo siguiente?

In [54]:
a, b, c = 1.0, 2.0, 3.0
print (a)
print (b)
print (c)

1.0
2.0
3.0

In [55]:
a + b/c

1.6666666666666665

In [56]:
(a+b)/c

1.0

También *modificadores* de una variable

In [58]:
x= 0
x += 1

In [59]:
print (x)

1

In [60]:
x -= 2

In [61]:
print(x)

-1

In [62]:
x *= 3.14
print (x)

-3.14

In [63]:
x /= 5*a

In [64]:
print(x)

-0.628

## Condicionales

In [65]:
if x > 3:
    print("Esto no se debería de imprimir")
    print("Nota que es muy peligroso hacer esto con flotantes...")

In [66]:
x = 5

In [67]:
if x > 3:
    print("Esto SI se debería de imprimir")

Esto SI se debería de imprimir

Los siguientes operadores lógicos se pueden utilizar

In [68]:
x == 1

False

In [69]:
x > 1

True

In [70]:
x < 1

False

In [71]:
x >= 1

True

In [72]:
x != 1

True

In [73]:
x > 10 or x <= 5

True

In [74]:
x > 10 and x <= 5

False

In [75]:
print(x)

5

In [79]:
#Usar u para el encoding 
if x >= 5 and x < 10:
    print(u"¡Hola!")
else:
    print(u"Nunca me verás")

¡Hola!

**Ejercicio**

Usando los *widgets* que proporciona el notebook, programa una interfaz que indique (imprimiendo) si el número que se introduce es par o impar.

In [82]:
def par(x):
    if x%2:
        print("par")
    else:
        print("impar")

In [89]:
from ipywidgets import interact
interact(par,x=100);

interactive(children=(IntSlider(value=100, description='x', max=300, min=-100), Output()), _dom_classes=('widg…

## Bucles

Los bucles `for` en python, utilizan *iteradores*:

In [91]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [92]:
for x in u"Hola Como estás?":
    print(x)

H
o
l
a

C
o
m
o

e
s
t
á
s
?

El que sigue no es el mejor ejemplo de un uso de `while`, pero es con fines ilustrativos

In [93]:
i = 1
while i > 0 and i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [100]:
#(inicio, fin, salto) --> no incluye el final
for i in range(3,10, 2):
    print (i)

3
5
7
9

**Ejercicio:**

Calcula el valor de la suma $\sum^{1000}_{k=0} \left(\frac{1}{k}\right)^2$.

In [103]:
suma=0
for i in range(1,1001):
    suma+=(1/i)**2
print(suma)

1.6439345666815615

## Estructuras de datos *built-in*

### Listas

In [145]:
a_list = [1, 2, 3, 4, 5]
a_list

[1, 2, 3, 4, 5]

In [146]:
another_list = [1, 1.3, 4.5, 2+1j, [1,2]]
another_list

[1, 1.3, 4.5, (2+1j), [1, 2]]

In [147]:
a_list[3]

4

In [148]:
another_list[3]

(2+1j)

In [149]:
another_list[4]

[1, 2]

In [150]:
a_list[-1]

5

In [151]:
a_list[1:]

[2, 3, 4, 5]

In [152]:
a_list[2:4]

[3, 4]

In [153]:
a_list[:4]

[1, 2, 3, 4]

In [154]:
n=5

In [155]:
a_list.append(n)

In [156]:
a_list

[1, 2, 3, 4, 5, 5]

In [157]:
a_list.pop()

5

In [158]:
a_list

[1, 2, 3, 4, 5]

In [159]:
a_list.append(3)
print(a_list)
a_list[1] = 3
print(a_list)
a_list.append(5)
print(a_list)

[1, 2, 3, 4, 5, 3]
[1, 3, 3, 4, 5, 3]
[1, 3, 3, 4, 5, 3, 5]

In [123]:
a_list.remove?

In [160]:
a_list.remove(3) #borra la primer ocurrencia del valor en la lista

In [161]:
a_list

[1, 3, 4, 5, 3, 5]

In [164]:
empty_list = []
empty_list

[]

In [165]:
for element in a_list:
    print(element)

1
3
4
5
3
5

In [166]:
for r in range(5):
    print(r)

0
1
2
3
4

#### *List comprehensions*

En matemáticas, es normal describir las listas (siendo estrictos conjuntos) de la siguente  manera:

- $S = \{x^²\ |\  x\  en\  \{0 \ldots 9\}\}$
- $V = (1, 2, 4, 8, \ldots, 2^{12})$
- $M = \{x\  |\ x\  en\  S\  y\  x\  es\  impar\}$

En python existe una técnica muy poderosa de creación/manipulación de listas que permite escribirlas casi igual:

In [167]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x%2 == 0]
print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

Las *list comprehensions* pueden ser utilizadas también con cadenas:

In [168]:
palabras = 'Anita lava la tina'.split()
print(palabras)
transformacion = [[w.upper(), w.lower(), len(w)] for w in palabras]
print("=====================")
for t in transformacion:
    print(t)

['Anita', 'lava', 'la', 'tina']
=====================
['ANITA', 'anita', 5]
['LAVA', 'lava', 4]
['LA', 'la', 2]
['TINA', 'tina', 4]

In [170]:
transformacion

[['ANITA', 'anita', 5],
 ['LAVA', 'lava', 4],
 ['LA', 'la', 2],
 ['TINA', 'tina', 4]]

Es posible usar varios `for` en una expresión, el siguiente bloque muestra los tripletes *pitagóricos* (aquellos $a,b$ y $c$ que cumplen con $a^2 + b^2 = c^2$)

In [171]:
n = 25
[(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

### Diccionarios

Los diccionarios o *mapas* son otra estructura de datos importante en python

In [180]:
diccionario = {'a':1, 'b':2, 'coral': 'amarillo'}
diccionario

{'a': 1, 'b': 2, 'coral': 'amarillo'}

In [181]:
diccionario.keys()

dict_keys(['a', 'b', 'coral'])

In [182]:
diccionario.values()

dict_values([1, 2, 'amarillo'])

In [173]:
diccionario['a']

1

In [174]:
diccionario['coral']

'amarillo'

**Ejercicio**
Usando la ayuda de ipython responde:
- ¿Cómo puedo agregar elementos a un diccionario?
- ¿Cómo puedo eliminar elementos a un diccionario?
- ¿Cómo cambia el método `pop` respecto a la listas?
- ¿Cómo puedo iterar en un diccionario?

## Funciones

**Principio DRY**: * Don't repeat yourself*

In [16]:
from math import sqrt, atan
def polar(x,y):
    """
    x, y son un par ordenado
    """
    r = sqrt(x**2 + y**2)
    theta = atan(y/x)
    return r, theta

In [184]:
polar?

In [185]:
polar??

In [18]:
r, theta = polar(3,4)
print("La coordenada r es: " , r)
print("El ángulo theta es: ", theta)

La coordenada r es:  5.0
El ángulo theta es:  0.9272952180016122

**Ejercicio**

Crea una función que devuelva las coordenadas $(x,y,z)$ a partir de las [coordenadas esféricas](http://en.wikipedia.org/wiki/Spherical_coordinate_system) $(r, \theta, \phi)$. Guárdala a disco, en el archivo `transformaciones.py`

In [1]:
%%file transformaciones.py

def transformacion(r,theta,fi):
    from math import  sin, cos
    """
    r,theta,fi son las coordenadas esféricas
    
    """
    x=r*sin(theta)*cos(fi)
    y=r*sin(theta)*sin(fi)
    z=r*cos(theta)
    print(x,y,z)

Overwriting transformaciones.py

In [21]:
transformacion??

**Ejercicio**

Usando la función recién creada, usa la librería `interact` para pedir los valores $(r,\theta,\phi)$.

In [3]:
from transformaciones import transformacion
from ipywidgets import interact
interact(transformacion,r=10,theta=180,fi=180);

interactive(children=(IntSlider(value=10, description='r', max=30, min=-10), IntSlider(value=180, description=…